In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Ridge
import pandas as pd
import numpy as np

In [43]:
tn = pd.read_csv('train.csv')
print(tn)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [44]:
# 사용할 열 선정
tn_temp = tn.loc[:,['Survived','Pclass','Sex','Age']]
tn_temp

     Survived  Pclass     Sex   Age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [45]:
# 결측값 제거
tn= tn_temp.dropna(axis=0)
print(tn.shape)

(714, 4)

In [46]:
# 정수화 정답
tn.loc[:,"Sex"].replace(['female','male'],[0,1],inplace=True)
print(tn)

     Survived  Pclass  Sex   Age
0           0       3    1  22.0
1           1       1    0  38.0
2           1       3    0  26.0
3           1       1    0  35.0
4           0       3    1  35.0
..        ...     ...  ...   ...
885         0       3    0  39.0
886         0       2    1  27.0
887         1       1    0  19.0
889         1       1    1  26.0
890         0       3    1  32.0

[714 rows x 4 columns]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10836\3352849583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn.loc[:,"Sex"].replace(['female','male'],[0,1],inplace=True)

In [47]:
tn_input = tn.loc[:,["Pclass","Sex","Age"]]
tn_target = tn.loc[:,"Survived"]

In [48]:
print(tn_input.count())
print(tn_target.count())

# 넘파이로 변경
tc_input_np = tn_input.to_numpy()
tc_target_np = tn_target.to_numpy()

Pclass    714
Sex       714
Age       714
dtype: int64
714

In [49]:
train_input,test_input,train_target,test_target = train_test_split(tc_input_np,tc_target_np,random_state=42)

In [50]:
# 풀이
# 로지스틱 회귀 (분류)
# 경사하강법, 시그모이드(0~1)=>렐루사용, 자연상수(아무리 많이나눠도 2.7뭐시기 못넘어감), 로그(큰 값을 작게 만드는것??)

In [51]:
#로지스틱회귀(분류)
# 경사 하강법, 시그모이드, 자연상수, 로그

lr = LogisticRegression(C=1, max_iter=10000) #c값이 높으면 규제를 약하게, c값이 작으면 규제를 강하게
lr.fit(train_input, train_target)

LogisticRegression(C=1, max_iter=10000)

In [52]:
print(lr.score(train_input, train_target))

0.811214953271028

In [53]:
print(lr.score(test_input, test_target))

0.770949720670391

### 계수를 좋게 하려면??
- 규제와 에포크
- 데이터가 더 많이 필요함(행이 필요함)
- 컬럼을 더 많이 선정해야한다. (요금, 가족, 몇명이서 같이 왔는지... 등)
- 더 좋은 모델을 선택해야한다.

In [55]:
#황주원, 노민혁, 황혜정

lr.predict([[1, 1, 24]])

array([1], dtype=int64)